# Ignorar carpetas locales de dependencias
/node_modules
/vendor/bundle
/public/assets
/app/assets/builds/*
!/app/assets/builds/.keep

# Ignorar archivos temporales y logs
/log/*
/tmp/*
!/log/.keep
!/tmp/.keep

# Ignorar configuración sensible y Git
/.git
/.gitignore
/config/master.key
/config/credentials/*.key
.env*

# Ignorar herramientas de despliegue
/config/deploy*.yml
/.kamal